@import url('assets/style/fonts.css');
@import url('assets/style/icons.css');

body {
    margin: 0;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('assets/fonts/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
    url('assets/fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('assets/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'HelveticaNeueCyr', sans-serif;
}

.folder-parent {
    position: relative;
    cursor: pointer;
    width: max-content;
}

.folder-children {
    width: max-content;
    display: none;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
}
.folder-parent::after {
    content: url(./assets/svg/arrow-down.svg);
    position: relative;
    display: inline;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -30px;
    transform: rotate(-180deg);
}

.folder-parent.close::after {
    transform: rotate(0deg);
}

.folder-children.visible {
    display: flex;
}

.folder-title {
    height: 24px;
}